.best-pizza {
    padding: 100px 0;

    .best-pizza-img {
        margin-bottom: 20px;
    }

    .best-pizza-content {
        h2 {
            color: #16b55f;
            font-family: Anton;
            font-size: 48px;
            font-style: normal;
            font-weight: 400;
            line-height: 64.5px;
            /* 134.375% */
            text-transform: uppercase;
            text-align: center;
        }

        h4 {
            color: #222;
            text-align: center;
            font-family: Anton;
            font-size: 32px;
            font-style: normal;
            font-weight: 400;
            line-height: 39px;
            /* 121.875% */
            text-transform: uppercase;
            text-align: center;
        }

        P {
            color: #727272;
            text-align: center;

            /* Poppins/Body 2/Regular */
            font-family: Poppins;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 22px;
            /* 157.143% */
            letter-spacing: 0.035px;
            text-align: center;
            margin: 15px 0;
        }

        a {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 20px;
            border-radius: 15px;
            background: #f54333;
            padding: 10px 20px;
            text-decoration: none;
            color: #fff;
            text-align: center;

            /* Poppins/Button/SemiBold */
            font-family: Poppins;
            font-size: 16px;
            font-style: normal;
            font-weight: 600;
            line-height: 24px;
            /* 150% */
            letter-spacing: 0.08px;
            text-transform: uppercase;
            text-align: center;
            transition: all 0.3s ease;

            &:hover {
                border: 1px solid #f54333;
                background-color: #fff;
                color: #f54333;
            }
        }
    }
}

.Contact-us {
    padding: 100px 0;

    .site-img {
        position: absolute;
        right: 0;
        width: 110px;
    }


}

.menu-parent {
    padding: 100px 0;

    h2 {
        color: #16b55f;
        text-align: center;
        font-family: Anton;
        font-size: 48px;
        font-style: normal;
        font-weight: 400;
        line-height: 56px;
        text-transform: uppercase;
        text-align: center;
    }

    h3 {
        color: #222;
        text-align: center;
        font-family: Anton;
        font-size: 32px;
        font-style: normal;
        font-weight: 500;
        line-height: 39px;
        /* 121.875% */
        text-transform: uppercase;
        text-align: center;
    }

    img {
        width: auto;
        height: auto;
        margin: -50px 0 -40px -130px;
    }

    .site-image {
        margin: 160px 0 0 0;
        position: absolute;
        right: 0;
    }

    .border-row {
        border-bottom: 3px solid #1561D2;
        width: 8%;
        margin: 0px auto 10px auto;

    }


    .menu-list {
        border: 0.5px solid#F1F1F1;
        float: left;
        width: 100%;
        padding: 0 auto;
        margin: 50px auto;
        border-radius: 12px;

        .menu-div {
            width: 12%;
            border-right: 1px dashed #A5A5A5;
            float: left;
            margin: 20px 0 20px 5px;

            .menu-text {
                color: #3D3D3D;
                text-align: center;
                font-family: Anton;
                font-size: 14px;
                font-style: normal;
                font-weight: 500;
                line-height: 39px;
                /* 121.875% */
                text-transform: uppercase;
                text-align: center;
                margin-top: 5px;
            }

            .menu-div img {
                margin: 0 auto;
                display: table;
            }

        }

        .menu-div img {
            margin: 0 auto;
            display: table;
        }
    }
}

.card-list {
    border: 1px dashed #D2D2D2;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    width: 87%;

    .card1 {
        display: flex;
        justify-content: flex-start;
        width: 100%;
        align-items: center;
        border-bottom: 1px dashed #D2D2D2;

        img {
            margin: 0;
        }

        h2 {
            color: #010F1C;
            font-family: Anton;
            font-size: 22px;
            font-style: normal;
            font-weight: 500;
            line-height: 39px;
        }

        h5 {
            color: #4D5765;
            font-family: Poppins;
            font-size: 16px;
            font-style: normal;
            font-weight: 300;
        }

        h3 {
            color: #F54333;
            font-family: Poppins;
            font-size: 18px;
            padding: 10px;
            background-color: rgba(245, 67, 51, 0.2);
            font-style: normal;
            font-weight: bold;
            border-radius: 5px;
        }
    }

    .border-row {
        border: 1px dashed #000;
        width: 120px;
        margin: -40px 10px 0 0px;
    }

    .site-image2 {
        width: auto;
        height: auto;
        margin: -340px 0 0 40px;
    }

    .pricing-div {
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: space-between;
        align-items: center;
    }
}




.ordernow-sec {
    padding-top: 100px;
    overflow: hidden;

    .ordernow-head {
        position: relative;

        h3 {
            font-family: Anton;
            font-size: 292px;
            font-style: normal;
            font-weight: 400;
            position: absolute;
            top: 301px;
            line-height: 0px;
            text-transform: uppercase;
            text-align: center;
            z-index: -1;
            color: #e9e9e2;
        }

        h2 {
            color: #222;
            font-family: Anton;
            font-size: 292px;
            font-style: normal;
            font-weight: 400;
            position: absolute;
            top: 401px;
            line-height: 0px;
            text-transform: uppercase;
            text-align: center;
            z-index: -1;
        }
    }

    .marques-wrappers {
        position: relative;
        top: -363px;

        .marque1 {
            position: relative;
            width: 111%;
            left: -49px;
            transform: rotate(349deg);
        }

        .marque2 {
            position: relative;
            transform: rotate(5deg);
            width: 110%;
            left: -40px;

            .marquee-wrapper {
                background-color: #f54333;
            }
        }
    }
}